version: '3'

services:
  backend:
    image: vocablab-backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./backend/vocablab:/app
  frontend:
    image: vocablab-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_BASE_URL=http://localhost:8000
    volumes:
      - ./frontend/vocablab:/app