[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=5.0"
djangorestframework = "~=3.15.0"
django-cors-headers = "*"
djoser = "*"
django-environ = "*"

[dev-packages]
pytest = "~=8.1"
pytest-django = "~=4.8.0"
factory-boy = "~=3.3.0"
django-extensions = "~=3.2.3"

[requires]
python_version = "3.11"
